@font-face {
  font-family: 'Josefin-Sans-Light';
  src: url('./static/JosefinSans-Light.ttf');
}

@font-face {
  font-family: 'Josefin-Sans-Regular';
  src: url('./static/JosefinSans-Regular.ttf');
}

@font-face {
  font-family: 'Josefin-Sans-SemiBold';
  src: url('./static/JosefinSans-SemiBold.ttf');
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

main {
  min-width: 100%;
  min-height: 100%;
  padding: 0;
  border: 0;
  margin: 0;
}

#backdrop {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  border: 0;
  margin: 0;
}

#title-image {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

#fm-image-container {
  background-image: url('./images/hero-mobile.jpg');
  width: 100%;
  height: 100%;
  min-height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 2rem;
  font-family: 'Josefin-Sans-Regular';
}

#title {
  margin: 15px 0;
  font-family: 'Josefin-Sans-Semibold';
  font-size: 40px;
  letter-spacing: 10px;
  color: #413a3a;
}

#thin {
  font-family: 'Josefin-Sans-Light';
  font-weight: 100;
  color: #ce9797;
}

#description {
  font-family: 'Josefin-Sans-Regular';
  font-size: 14px;
  color: #ce9797;
  line-height: 20px;
}

#input-holder {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 30px 0;
}

.default-input {
  width: 100%;
  height: 100%;
  font-family: 'Josefin-Sans-Regular';
  font-size: 14px;
  padding: 10px 50px 10px 25px;
  border-radius: 25px;
  border: 2px solid #ce979775;
  overflow: hidden;
  color: #413a3a;
}

.error-input {
  width: 100%;
  height: 100%;
  font-family: 'Josefin-Sans-Regular';
  font-size: 14px;
  padding: 10px 50px 10px 25px;
  border-radius: 25px;
  border: 2px solid #f96262;
  background-image: url('./images/icon-error.svg');
  background-position: right 70px center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  overflow: hidden;
  color: #413a3a;
}

::placeholder {
  color: #ce979775;
  font-size: 16px;
}

#submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 65px;
  height: 50px;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 10px 10px #b9b9b985;
}

input:focus {
  outline: none;
}

.hide {
  display: none;
}

.show {
  position: absolute;
  bottom: -30px;
  left: 25px;
  color: #f96262;
  font-size: 14px;
}

@media screen and (min-width: 800px) {
  #backdrop {
    display: grid;
    grid-template-columns: auto 610px;
    grid-template-rows: 200px auto;
    background: url('./images/bg-pattern-desktop.svg'), linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    background-size: calc(100% - 610px) 100%;
    background-position: left;
  }

  #title-image {
    padding-left: 175px;
    height: 160px;
  }

  #fm-image-container {
    background-image: url('./images/hero-desktop.jpg');
    background-position: top;
    min-width: 100%;
    min-height: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  #info {
    padding-left: 175px;
    width: 650px;
    justify-content: left;
    text-align: left;
  }

  #title {
    margin: 25px 0;
    font-size: 60px;
    letter-spacing: 20px;
  }

  #description {
    font-size: 16px;
    line-height: 25px;
    margin: 15px 0;
  }

  #input-holder {
    margin: 40px 0;
    width: 100%;
  }

  #submit {
    width: 90px;
  }

  .default-input {
    font-size: 16px;
  }

  .error-input {
    background-position: right 105px center;
    font-size: 16px;
  }

  .show {
    font-size: 16px;
  }
}